.routes-builder {
	width: 500px;
}

.routes__map {
	position: relative;
	display: block;
	width: 500px;
	height: 500px;
}

.routes__form {
}

.routes__list {
}

.routes__item {
}

.routes__item-remove {
	float: right;
	cursor: pointer;
	user-select: none;
}
