.routes-builder
	form.routes__form(novalidate="", ng-submit="RoutesBuilder.appendRoute()")
		input(type="text", required="required", placeholder="Новая точка маршрута", ng-model="RoutesBuilder.routes.append")

	#routes_map.routes__map(routes-map="")
	| {{RoutesBuilder.routes}}
